@charset "utf-8";


body {
  font-family: 'Catamaran','Noto Sans JP',sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #eaeaf1;
  color: #2c2c2c;
  padding: 20px;
}

img {
  width: 400px;
  height: 200px;
  margin: auto;
  display: block;
}

span {
  width: 200px;
  margin: auto;
  display: block;
  font-size: 10px;
}

article {
  text-align: center;
  height: 60px;
  line-height: 60px;
}


.man {
  position: relative;
  text-align: center;
}

.man img {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  filter: brightness(90%) blur(2px);
}

.man p {
  color: #f4f4f4;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.top header {
  height: 90vh;
  background: url(https://github.com/Mayu-Nakano/Mayu-Nakano.fnd29/blob/main/book.jpg?raw=trueg) no-repeat center top/cover;
  padding-top: 50px;
  margin-bottom: 64px;
}

.top header h1 img {
  width: 240px;
}



.link {
  padding: 0 20px;
}

.link li {
  margin-bottom: 40px;
}

.link li a {
  display: block;
  background-color: #f5f5f5;
}

.link li a span {
  display: block;
  padding: 12px 15px 10px;
  font-size: 18px;
}

.link li a:hover {
  filter: brightness(105%);
}


ul.link {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

ul.link li {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

ul.link li:hover {
  transform: translateY(-7px);
}

ul.link li img {
  width: 370px;
  height: 250px;
  object-fit: cover;
}

ul.link li p {
  width: 90%;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

ul.link li span {
  display: block;
  padding: 10px 10px;
  font-size: 14px;
  color: #555;
}


@media screen and (min-width: 920px) {
  .top {
    display: flex;
  }

  .top header {
    flex-basis: 40%;
    height: 100vh;
    margin-bottom: 0;
  }

  .top main {
    flex-basis: 62%;
    display: flex;
    align-items: center;
  }

  .link {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-around;
  }

  .link li {
    flex-basis: 47%;
    margin-bottom: 20px;
  }


}


.menuGroup {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.menuGroup .menu-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 20px;
  height: 20px;
}

.menuGroup .menu-icon .navicon {
  height: 3px;
  width: 35px;
  position: relative;
}

.menuGroup .menu-icon .navicon::before,
.menuGroup .menu-icon .navicon::after {
  background: #000;
  content: '';
  height: 100%;
  position: absolute;
  transition: all .4s ease-out;
  width: 100%;
}

.menuGroup .menu {
  background-color: rgba(189, 197, 205, 0.5);
  font-size: 20px;
  overflow: hidden;
  max-height: 0;
  transition: max-height .6s;
  text-align: center;
}

.menuGroup .menu li a:hover {
  background-image: linear-gradient(45deg, rgba(38,33,172,1) 0%, rgba(255,180,81,1) 100%);
  color: #f4f4f4;
}

.menuGroup .menu li a {
  display: block;
  padding: 20px 20px;
  text-transform: uppercase;
}

.menuGroup .menu-btn {
  display: none;
}

.menuGroup .menu-btn:checked ~ .menu {
  max-height: 340px;
  transition: max-height .7s;
}

.menuGroup .menu-btn:checked ~ .menu-icon .navicon::before {
  transform: rotate(-45deg);
  top: 0;
}

.menuGroup .menu-btn:checked ~ .menu-icon .navicon::after {
  transform: rotate(45deg);
  top: 0;
}


form {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin: 10px;
  font-weight: bold;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #9c9c9c;
  border-radius: 10px;
}

form button {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #e38741;
  color: #000;
}

#addBookForm {
  width: 700px;
  margin: 7em 7em;
}

.new {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}



.thetitle {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 20%;
  transform: translateX(-50%);
  text-shadow: 0 0 10px rgb(35, 35, 35), 0 0 15px rgb(112, 110, 110);
  font-weight: bold;
  font-size: 35px;
}



